body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color:rgb(109, 167, 234);
   color:Black; 
   
    
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: 20pt;
    margin-right: 20pt;
} 



h1 { 
font-family: 'Times New Roman';
    color:cornflowerblue; 
font-size: 25px; 
} 


h2{ 

font-family:Georgia;
color:darkgreen;
font-size: 20px;
} 

h3{

font-family: Verdana;
color:cadetblue;
font-size: 15px;
}
